.goal {
  margin-bottom: 60px;
}

.goal-detail {
  display: flex;
  margin-bottom: 10px;
}

.goals-page {
  width: 1050px;
  min-height: 150vh;
}

.goal-prg-msg {
  color: #717070;
  margin: 0 0 20px 0;
}
