.summary-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 10px;
}

.summary-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
  position: relative;
}

.summary-header {
  margin-bottom: 10px;
}

.summary-header label {
  display: block;
  color: #666;
  font-size: 1em;
  margin-bottom: 5px;
}

.summary-amount {
  font-size: 1.75em;
  font-weight: bold;
}

.balance {
  color: blue;
}

.income {
  color: green;
}

.expenses {
  color: red;
}
